* {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #485460;
    --dark-color: #151418;
    --danger-color: #ff5252;
    --green-color: #00bfa5;
    --warning-color: #fec106;
}

body {
    background-color: #eee;
}

/* Dark Mode Styles */
/* ================================== */
.dark-mode {
    background-color: var(--dark-color);
    color: var(--main-color);
}

.dark-mode .kategori-description {
    color: black !important;
}

.dark-mode .btn-danger-outline:hover {
    border-color: #dc3545 !important;
}

.dark-mode .btn-sort:hover {
    border-color: white !important;
    color: white !important;
    background: none !important;
}

.dark-mode .btn-green:hover {
    background-color: #15754a !important;
    color: white;
}

.dark-mode .dark-mode-title {
    color: #cdcecf !important;
}

.dark-mode .dark-mode-medium {
    color: #eee !important;
}

.dark-mode nav {
    margin: 0 !important;
    color: white !important;
    border-radius: 0px !important;
}

.dark-mode .dropdown-toggle {
    color: whitesmoke !important;
    background: none !important;
}

.dark-mode .dropdown-toggle:hover {
    color: white !important;
}

/* ================================== */

.navbar {
    background-color: #485460;
    color: #fff;
    margin: 4px;
    border-radius: 7px;
}

.nav-item {
    color: lightgray;
}

.nav-item:hover {
    color: lightgray;
    text-decoration: underline;
}

.nav-item:focus {
    color: lightgray;
}

.active {
    color: #fff !important;
    font-weight: bold !important;
}

.icon {
    transition: all 0.1s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
}

#dropdown-itemer {
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    margin-right: 7rem;
    border-radius: 7px;
}

#dropdown-itemer:hover {
    color: lightgray;
}

.dropdown-item:focus {
    background-color: var(--main-color);
    color: #fff;
}

.dropdown-item.danger:hover {
    background-color: #dc3545;
    color: #fff;
}

.btn-login {
    margin-right: 3rem;
    background-color: #303840;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    text-decoration: none !important;
}

.btn-sort {
    background-color: #212529;
    color: white;
    border-radius: 7px;
    font-size: 0.8rem;
}

.btn-green {
    background-color: #188654;
    color: white;
    border-radius: 7px;
    font-size: 0.8rem;
}

.btn-green:hover {
    border-color: black;
}

.btn-danger-outline {
    border-color: #dc3545;
    color: #dc3545;
    border-radius: 7px;
    font-size: 0.8rem;
}

.btn-danger-outline:hover {
    background-color: #dc3545;
    color: #fff;
}

.kategori {
    cursor: pointer;
}

.kategori:hover {
    box-shadow: 0px 0px 8px #212529;
}

.card-text {
    font-size: 0.8rem;
}

.card-hover:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px #212529;
}

.fade-out {
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
